<h3>At a Glance</h3>
<ul>
  <li><a href='/me#books'>Books</a></li>
  <li><a href='/me#books_i_recommend'>Great Books</a></li>
  <li><a href='{{ site.codepen_url }}'>CodePen</a></li>
  <li><a href='/me#hobbies'>Hobbies</a></li>
  <li><a href='{{ site.github_url }}'>GitHub</a></li>
  <li><a href='/quotes'>Quotes</a></li>
  <li><a href='{{ site.freecodecamp_url }}'>FreeCodeCamp</a></li>
  <li><a href='{{ site.linkedin_url }}'>LinkedIn</a></li>
  <li><a href='/tech-spectrum'>Spectrum</a></li>
  <li><a href='/me#podcasts'>Podcasts</a></li>
</ul>