<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/reset.css" media="screen" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css" media="screen" />
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
        <link rel="shortcut icon" href="/favicon.ico" type="image/icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
         <!--<meta http-equiv="refresh" content="5" /> -->
        <script type="text/javascript">
            document.createElement("main");
        </script>
    </head>
    <body {% if page.title == "Thoughts" or page.title == "Home" %} class="landing" {% endif %}>
        <div class="wrap">
            <div class="border"></div>
        <header>
            <div class="inner">
                <a href='/'>
                    <div class="logo mobile">
                        Josh <em>Young</em>
                        <span>My Thoughts on Web Development</span>
                    </div>
                </a>
                <nav class='mobile'>
                    {% assign pages = site.html_pages | sort:"weight"  %}
                    <ul>
                      {% for p in pages %}
                          {% if p.title != 'Home' %}
                          {% if p.title != 'Search' %}
                            <li>
                              <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                                {{ p.title }}
                              </a>
                            </li>
                            {% endif %}
                            {% endif %}
                      {% endfor %}
                    </ul>
                </nav>
            </div><!-- E_inner -->
        </header>
        <aside class='left-aside'>
            <div id='triangle'></div>
            <a class='logo_border' href='/'>
                    <div class="logo">
                        <div id='ham'></div>
                        Josh <em>Young</em>
                        <span>My Thoughts on Web Development</span>
                    </div>
            </a><!-- E_logo_border -->

            <nav class='full'>
                {% assign pages = site.html_pages | sort: "weight"  %}
                <ul>
                  {% for p in pages %}
                      {% if p.title != 'Home' %}
                      {% if p.title != 'Search' %}
                      {% if p.title != 'Tags' %}
                        <li>
                          <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                            {{ p.title }}
                            {% if p.title == 'Resume' %}
                                <span>of Jobs</span>
                            {% endif %}
                            {% if p.title == 'Thoughts' %}
                                <span>on Development</span>
                            {% endif %}
                            {% if p.title == 'Projects' %}
                                <span>I've Worked On</span>
                            {% endif %}
                            {% if p.title == 'About' %}
                                <span>Me</span>
                            {% endif %}
                            {% if p.title == 'Certs' %}
                                <span>i've Aquired</span>
                            {% endif %}
                            {% if p.title == 'Classes' %}
                                <span>Continuing Education</span>
                            {% endif %}
                          </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                  {% endfor %}
                </ul>
            </nav>
            <ul class='social'>
                <li><a class='linkedin' href="https://www.linkedin.com/in/joshuayoung1"></a></li>
                <li><a class='github' href="https://github.com/coder745"></a></li>
            </ul>
        </aside>
