<!DOCTYPE html>
<html lang='en'>
    <head>

        <meta http-equiv="Content-Security-Policy"
        content="default-src 'none';
        img-src 'self';
        script-src 'self' https://ajax.googleapis.com 'sha256-O17JreqETM2ckomgHPckX1pb7B0hzmavSQor2MpT8oU=' 'sha256-WJTelPmMc+TwI6HcptFPACKkeDAtcWO0Bo44UZR9BsE=' 'sha256-jzxr9xIKu3BOjQ4S2MfeDFmOYaBid7HGKUMtTGBL0Ls=' 'sha256-Z7h2cwPuhgvvgyvtZKK4gaSwUswtL9DTl7tE/ILyBzw=' 'sha256-xpX8UZQpemnn+cR4mV7g9+ebH437t+aC90slQ+bwmZY=';
        style-src 'self' https://fonts.googleapis.com;
        font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com;
        connect-src 'self'">

        <meta charset='utf-8' />
        <meta name='theme-color' content='#267F54' />
        <title>{{ page.title }}</title>
        <link rel='stylesheet' href='/css/normalize.css' media='screen' />
        <link rel='stylesheet' href='/css/style.css?{{ site.time | date: '%s%N' }}' media='screen' />
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans:400,700" rel="stylesheet">
        <link rel='shortcut icon' href='/favicon.ico' type='image/icon' />
        <link rel='apple-touch-icon' sizes='72x72' href='/img/site_apple.png' />
        <link rel='apple-touch-icon' sizes='114x114' href='/img/site_apple_retina.png' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        {% if page.description %}
            <meta name='description' content='{{ page.description }}' />
        {% else %}
            <meta name='description' content='{{ site.description }}' />
        {%endif %}
        <meta name='author' content='Josh Young' />
        <link type='text/plain' rel='author' href='/humans.txt' />
        <script type='text/javascript'>
            document.createElement('main');
        </script>
    </head>
    <body>
        <a id='go_to_content' href='#main_content'>skip to main content</a>
        <div class='wrap clearfix'>
        <div class='border'></div>
        <header role='banner'>
            <div class='inner'>
                <a href='/'>
                    <div class='logo'>
                        <div class='triangle'></div>
                        <h1>Josh<span>Young</span></h1>
                        <div>My Thoughts on Web Development</div>
                    </div>
                </a>
        </header>
        <aside class='left-aside'>
            <nav role='navigation'>
                {% assign pages = site.html_pages | sort: "weight"  %}
                <ul>
                  {% for p in pages %}
                      {% if p.title != 'Home' %}
                      {% if p.title != 'Search' %}
                      {% if p.title != 'Tags' %}
                      {% if p.title != 'All Thoughts' %}
                        <li>
                          <a {% if p.url == page.url %}class='active'{% endif %} href='{{ p.url }}'>
                            {{ p.title }}
                            {% if p.title == 'Resume' %}
                                <span>of Jobs</span>
                            {% endif %}
                            {% if p.title == 'Thoughts' %}
                                <span>on Development</span>
                            {% endif %}
                            {% if p.title == 'Projects' %}
                                <span>I've Worked On</span>
                            {% endif %}
                            {% if p.title == 'About' %}
                                <span>Me</span>
                            {% endif %}
                            {% if p.title == 'Certs' %}
                                <span>i've Aquired</span>
                            {% endif %}
                            {% if p.title == 'Classes' %}
                                <span>i've Completed</span>
                            {% endif %}
                          </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                  {% endfor %}
                </ul>
            </nav>
            <ul class='social'>
                <li><a class='codepen' href='{{ site.codepen_url }}'>CodePen</a></li>
                <li><a class='linkedin' href='{{ site.linkedin_url }}'>LinkedIn</a></li>
                <li><a class='github' href='{{ site.github_url }}'>GitHub</a></li>
            </ul>
        </aside>