<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>{{ page.title }}</title>
        <link rel='stylesheet' href='/css/normalize.css' media='screen' />
        <link rel='stylesheet' href='/css/style.css?{{ site.time | date: '%s%N' }}' media='screen' />
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans:400,700" rel="stylesheet">
        <link rel='shortcut icon' href='/favicon.ico' type='image/icon' />
        <link rel='apple-touch-icon' sizes='72x72' href='/img/site_apple.png' />
        <link rel='apple-touch-icon' sizes='114x114' href='/img/site_apple_retina.png' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        {% if page.description %}
            <meta name='description' content='{{ page.description }}' />
        {% else %}
            <meta name='description' content='{{ site.description }}' />
        {%endif %}
        <meta name='author' content='Josh Young' />
        <link type='text/plain' rel='author' href='/humans.txt' />
        <script type='text/javascript'>
            document.createElement('main');
        </script>
    </head>
    <body>
        <div class='wrap clearfix'>
        <div class='border'></div>
        <header>
            <div class='inner'>
                <a href='/'>
                    <div class='logo'>
                        <div class='triangle'></div>
                        <h1>Josh<span>Young</span></h1>
                        <div>My Thoughts on Web Development</div>
                    </div>
                </a>
        </header>
        <aside class='left-aside'>
            <nav>
                {% assign pages = site.html_pages | sort: "weight"  %}
                <ul>
                  {% for p in pages %}
                      {% if p.title != 'Home' %}
                      {% if p.title != 'Search' %}
                      {% if p.title != 'Tags' %}
                        <li>
                          <a {% if p.url == page.url %}class='active'{% endif %} href='{{ p.url }}'>
                            {{ p.title }}
                            {% if p.title == 'Resume' %}
                                <span>of Jobs</span>
                            {% endif %}
                            {% if p.title == 'Thoughts' %}
                                <span>on Development</span>
                            {% endif %}
                            {% if p.title == 'Projects' %}
                                <span>I've Worked On</span>
                            {% endif %}
                            {% if p.title == 'About' %}
                                <span>Me</span>
                            {% endif %}
                            {% if p.title == 'Certifications' %}
                                <span>i've Aquired</span>
                            {% endif %}
                            {% if p.title == 'Classes' %}
                                <span>Continuing Education</span>
                            {% endif %}
                          </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                  {% endfor %}
                </ul>
            </nav>
            <ul class='social'>
                <li><a class='codepen' href='{{codepen_url }}'>CodePen</a></li>
                <li><a class='linkedin' href='{{linkedin_url }}'>LinkedIn</a></li>
                <li><a class='github' href='{{ github_url }}'>GitHub</a></li>
            </ul>
        </aside>